{
  "extends": ["airbnb-typescript", "airbnb/hooks"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true
  },
  "rules": {
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "import/prefer-default-export": 0
  }
}
