{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }],
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "import/prefer-default-export": 0,
    "react/require-default-props": 0,
    "curly": ["error", "all"],
    "react/jsx-props-no-spreading": 0,
    "no-plusplus": 0
  }
}
