mjx-container[jax='CHTML'] {
  line-height: 0;
}

mjx-container [space='1'] {
  margin-left: 0.111em;
}

mjx-container [space='2'] {
  margin-left: 0.167em;
}

mjx-container [space='3'] {
  margin-left: 0.222em;
}

mjx-container [space='4'] {
  margin-left: 0.278em;
}

mjx-container [space='5'] {
  margin-left: 0.333em;
}

mjx-container [rspace='1'] {
  margin-right: 0.111em;
}

mjx-container [rspace='2'] {
  margin-right: 0.167em;
}

mjx-container [rspace='3'] {
  margin-right: 0.222em;
}

mjx-container [rspace='4'] {
  margin-right: 0.278em;
}

mjx-container [rspace='5'] {
  margin-right: 0.333em;
}

mjx-container [size='s'] {
  font-size: 70.7%;
}

mjx-container [size='ss'] {
  font-size: 50%;
}

mjx-container [size='Tn'] {
  font-size: 60%;
}

mjx-container [size='sm'] {
  font-size: 85%;
}

mjx-container [size='lg'] {
  font-size: 120%;
}

mjx-container [size='Lg'] {
  font-size: 144%;
}

mjx-container [size='LG'] {
  font-size: 173%;
}

mjx-container [size='hg'] {
  font-size: 207%;
}

mjx-container [size='HG'] {
  font-size: 249%;
}

mjx-container [width='full'] {
  width: 100%;
}

mjx-box {
  display: inline-block;
}

mjx-block {
  display: block;
}

mjx-itable {
  display: inline-table;
}

mjx-row {
  display: table-row;
}

mjx-row > * {
  display: table-cell;
}

mjx-mtext {
  display: inline-block;
}

mjx-mstyle {
  display: inline-block;
}

mjx-merror {
  display: inline-block;
  color: red;
  background-color: yellow;
}

mjx-mphantom {
  visibility: hidden;
}

_::-webkit-full-page-media,
_:future,
:root mjx-container {
  will-change: opacity;
}

mjx-assistive-mml {
  position: absolute !important;
  top: 0px;
  left: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 1px 0px 0px 0px !important;
  border: 0px !important;
  display: block !important;
  width: auto !important;
  overflow: hidden !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

mjx-assistive-mml[display='block'] {
  width: 100% !important;
}

mjx-c::before {
  display: block;
  width: 0;
}

.MJX-TEX {
  font-family: MJXZERO, MJXTEX;
}

.TEX-B {
  font-family: MJXZERO, MJXTEX-B;
}

.TEX-I {
  font-family: MJXZERO, MJXTEX-I;
}

.TEX-MI {
  font-family: MJXZERO, MJXTEX-MI;
}

.TEX-BI {
  font-family: MJXZERO, MJXTEX-BI;
}

.TEX-S1 {
  font-family: MJXZERO, MJXTEX-S1;
}

.TEX-S2 {
  font-family: MJXZERO, MJXTEX-S2;
}

.TEX-S3 {
  font-family: MJXZERO, MJXTEX-S3;
}

.TEX-S4 {
  font-family: MJXZERO, MJXTEX-S4;
}

.TEX-A {
  font-family: MJXZERO, MJXTEX-A;
}

.TEX-C {
  font-family: MJXZERO, MJXTEX-C;
}

.TEX-CB {
  font-family: MJXZERO, MJXTEX-CB;
}

.TEX-FR {
  font-family: MJXZERO, MJXTEX-FR;
}

.TEX-FRB {
  font-family: MJXZERO, MJXTEX-FRB;
}

.TEX-SS {
  font-family: MJXZERO, MJXTEX-SS;
}

.TEX-SSB {
  font-family: MJXZERO, MJXTEX-SSB;
}

.TEX-SSI {
  font-family: MJXZERO, MJXTEX-SSI;
}

.TEX-SC {
  font-family: MJXZERO, MJXTEX-SC;
}

.TEX-T {
  font-family: MJXZERO, MJXTEX-T;
}

.TEX-V {
  font-family: MJXZERO, MJXTEX-V;
}

.TEX-VB {
  font-family: MJXZERO, MJXTEX-VB;
}

mjx-stretchy-v mjx-c,
mjx-stretchy-h mjx-c {
  font-family: MJXZERO, MJXTEX-S1, MJXTEX-S4, MJXTEX, MJXTEX-A !important;
}

@font-face /* 0 */ {
  font-family: MJXZERO;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Zero.woff') format('woff');
}

@font-face /* 1 */ {
  font-family: MJXTEX;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Main-Regular.woff') format('woff');
}

@font-face /* 2 */ {
  font-family: MJXTEX-B;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Main-Bold.woff') format('woff');
}

@font-face /* 3 */ {
  font-family: MJXTEX-I;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Math-Italic.woff') format('woff');
}

@font-face /* 4 */ {
  font-family: MJXTEX-MI;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Main-Italic.woff') format('woff');
}

@font-face /* 5 */ {
  font-family: MJXTEX-BI;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Math-BoldItalic.woff') format('woff');
}

@font-face /* 6 */ {
  font-family: MJXTEX-S1;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Size1-Regular.woff') format('woff');
}

@font-face /* 7 */ {
  font-family: MJXTEX-S2;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Size2-Regular.woff') format('woff');
}

@font-face /* 8 */ {
  font-family: MJXTEX-S3;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Size3-Regular.woff') format('woff');
}

@font-face /* 9 */ {
  font-family: MJXTEX-S4;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Size4-Regular.woff') format('woff');
}

@font-face /* 10 */ {
  font-family: MJXTEX-A;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_AMS-Regular.woff') format('woff');
}

@font-face /* 11 */ {
  font-family: MJXTEX-C;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Calligraphic-Regular.woff') format('woff');
}

@font-face /* 12 */ {
  font-family: MJXTEX-CB;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Calligraphic-Bold.woff') format('woff');
}

@font-face /* 13 */ {
  font-family: MJXTEX-FR;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Fraktur-Regular.woff') format('woff');
}

@font-face /* 14 */ {
  font-family: MJXTEX-FRB;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Fraktur-Bold.woff') format('woff');
}

@font-face /* 15 */ {
  font-family: MJXTEX-SS;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_SansSerif-Regular.woff') format('woff');
}

@font-face /* 16 */ {
  font-family: MJXTEX-SSB;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_SansSerif-Bold.woff') format('woff');
}

@font-face /* 17 */ {
  font-family: MJXTEX-SSI;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_SansSerif-Italic.woff') format('woff');
}

@font-face /* 18 */ {
  font-family: MJXTEX-SC;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Script-Regular.woff') format('woff');
}

@font-face /* 19 */ {
  font-family: MJXTEX-T;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Typewriter-Regular.woff') format('woff');
}

@font-face /* 20 */ {
  font-family: MJXTEX-V;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Vector-Regular.woff') format('woff');
}

@font-face /* 21 */ {
  font-family: MJXTEX-VB;
  src: url('mathjax/es5/output/chtml/fonts/woff-v2/MathJax_Vector-Bold.woff') format('woff');
}
